<div>
        <div class="header-div">
            <a class="back-button" routerLink="/project-overview"><i class="material-icons arrow-back">arrow_back</i></a>
            <div><h1 class="title">Tigerbook Social Network</h1></div>
            <div class="programmer">
                <a><i class="material-icons" style="font-size: 12pt">code</i><span style="display: block; margin-top: -1%; font-size: 10pt;">C++</span></a>
            </div>
            <div class="project-lead">
                <mdb-icon fas icon="book-open"></mdb-icon><span style="display: block; font-size: 10pt;"> Academic Project</span>
            </div>
        </div>
        <div class="container-div">
            <div class="left-div"><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /></div>
            <div class="right-div">
            <br>
                <div style="width: 88%">
                    <h2 class="section-header">Overview</h2>
                    <p>This project is an academic project for my software construction class. It was created in C++ in Linux. It allows a user to send a message to another user or to a group as well as read their messages. All messages are stored in files that are tied to the user's account in Auburn's network so the files can be accessed when logged in to any computer.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">Goal</h2>
                    <p>The goal for this project was to explore file editing and reading in C++ as well as programming using Linux.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">My Role</h2>
                    <p>This was an individual project so I programmed the project in its entirety.</p>
                </div>
            </div>
        </div>
    </div> 


