
.container-div {
    margin: auto;
}
.title {
    font-size: 20pt;
}
.left-div {
    width: 50%; 
    float: left;
    padding: 10px;
}
.right-div {
    text-align: center;
    padding: 10px;
}
.programmer {
    margin-right: 20px;
    font-size: 8pt;
}
.project-lead {
    font-size: 8pt;
    margin-left: 20px;
}
.section-header {
    font-size: 16pt;
}
p {
    font-size: 10pt;
}
