
.container-div {
    margin: auto;
    margin-top: 10%;
}
.title {
    font-size: 20pt;
}
.left-div {
    width: 48%; 
    //float: left;
    //margin-left: 0;
    padding: 10px;
    display: inline-block;
}
.right-div {
    text-align: center;
    width: 48%;
    display: inline-block;
    padding: 10px;
}
.programmer {
    font-size: 8pt;
    border-radius: 3px;
    display: inline-block;
    max-width: 50%; 
    margin-right: 10px;
}

.project-lead {
    font-size: 8pt;
    border-radius: 3px;
    display: inline-block;
    max-width: 50%;
}
.section-header {
    font-size: 16pt;
}
p {
    font-size: 10pt;
}
.header-div {
    max-height: 150px;
    min-width: 100%;
    position: absolute;
    text-align: center;
    background-color: #000000ab;
}
