
.container-div {
    margin: auto;
}
.title {
    font-size: 20pt;
}
.left-div {
    width: 48%; 
    //float: left;
    //margin-left: 0;
    padding: 10px;
    display: inline-block;
}
.right-div {
    text-align: center;
    width: 48%;
    display: inline-block;
    padding: 10px;
}
.programmer {
    margin-right: 20px;
    font-size: 8pt;
}
.project-lead {
    font-size: 8pt;
    margin-left: 20px;
}
.section-header {
    font-size: 16pt;
}
p {
    font-size: 10pt;
}
