<div class="header-div">
    <div><h1 class="title">Projects</h1></div>
</div>
<div>
    <mat-grid-list cols="3" rowHeight="3:2" style="margin-top: 60px;">
        <mat-grid-tile class="tile">
            <a routerLink="/project-list">Gaia</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/the-forest">The Forest</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/tigerbook">TigerBook Social Network</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/snakesladders">Snakes and Ladders</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/home">Home</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/dracarys">Dracarys</a>
        </mat-grid-tile>
        <mat-grid-tile class="tile">
            <a routerLink="/dblockscreen">Dark Brotherhood Lockscreen</a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
