<div class="header-div">
    <div><h1 class="title">Projects</h1></div>
</div>
<div>
    <mat-grid-list cols="3" rowHeight="3:2" [@simpleFadeAnimation]="'in'">
        <mat-grid-tile>
            <a [routerLink]="['/project-list', 0]">Gaia</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a [routerLink]="['/project-list', 1]">The Forest</a>
        </mat-grid-tile>
        <mat-grid-tile>
            TigerBook Social Network
        </mat-grid-tile>
        <mat-grid-tile>
            Snakes and Ladders
        </mat-grid-tile>
        <mat-grid-tile>
            Home
        </mat-grid-tile>
        <mat-grid-tile>
            Dracarys
        </mat-grid-tile>
    </mat-grid-list>
</div>
