
    <div>
            <div class="header-div">
                <a class="back-button" routerLink="/project-overview"><i class="material-icons arrow-back">arrow_back</i></a>
                <div><h1 class="title">Home</h1></div>
                <div class="programmer">
                    <a><i class="material-icons">code</i><span style="display: block; margin-top: -10px; font-size: 10pt;">C#</span></a>
                </div>
                <div class="project-lead">
                        <mdb-icon fas icon="book-open"></mdb-icon><span style="display: block; font-size: 10pt;"> Academic Project</span>
                </div>
            </div>
            <div class="container-div">
                <div class="left-div">
                       <!--
                        <div class="button-container-prev"><a><i class="material-icons arrow-prev">arrow_back</i></a></div>
                       --> 
                    <img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" />
                </div>
                <div class="right-div">
                    <!--
                        <div class="button-container"><a routerLink="/the-forest"><i class="material-icons arrow-forward">arrow_forward</i></a></div>
                    -->
                    <br>
                    <div style="width: 88%">
                        <h2 class="section-header">Overview</h2>
                        <p>Home is a 2D game made in Unity for my game design and development class. The project had to be academic related so I chose to base the game around our solar system.</p>    
                        <p>The player plays as an alien lost in our solar system and the player has to help him leave our solar system. The player does this by navigating his ship over the correct sequence of planets in our solar system.</p>
                    </div>
                    <br>
                    <div style="width: 88%">
                        <h2 class="section-header">Goal</h2>
                        <p>The goal for this project was to create an educational game in Unity. I added in my own personal goal of trying out more of Unity's canvas capabilities so I added in menus.</p>
                    </div>
                    <br>
                    <div style="width: 88%">
                        <h2 class="section-header">My Role</h2>
                        <p>Since this was an individual project I designed and programmed the game.</p>
                    </div>
                </div>
            </div>
        </div>