/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.carousel-control-prev, .carousel-control-next {
    height: 50px;
    top: 50%!important;
    background-color: black!important;
    max-width: 30px!important;
}