<div>
        <div class="header-div">
            <a class="back-button" routerLink="/project-overview"><i class="material-icons arrow-back">arrow_back</i></a>
            <div><h1 class="title">The Forest</h1></div>
            <div class="programmer">
                <a><i class="material-icons">code</i><span style="display: block; margin-top: -10px; font-size: 10pt;">C#</span></a>
            </div>
            <div class="project-lead">
                <a><i class="material-icons">people</i><span style="display: block; margin-top: -10px; font-size: 10pt;">Group Project</span></a>
            </div>
            <div class="event">
                <a><mdb-icon far icon="calendar-alt"></mdb-icon><span style="display: block; margin-top: -4px; font-size: 10pt;">Hackathon</span></a>
            </div>
        </div>
        <div class="container-div">
            <div class="left-div"><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /></div>
            <div class="right-div">
            <br>
                <div style="width: 88%">
                    <h2 class="section-header">Overview</h2>
                    <p>The Forest is a horror game in which the player is camping in the forest. Your goal as the player is to escape the forest before your flashlight battery dies. If curiosity gets the better of you, you can attempt to find all of the clues about the forest before your battery dies. </p>
                    <p>This game was made for the hackathon VandyHacks. We chose to combine Microsoft's Mixer API with Unity to make an interactive game when livestreamed.</p>
                    <p>The player (the live-streamer) starts up the game and is given an authentication code that viewers will need to submit through Mixer.com/go to have access to the interactivity of the game. From there, the viewer will see a list of buttons mapped like a controller on their channel page on Mixer.com. These buttons will allow the viewer to spawn enemies directly behind the player to try to scare them or leave an in-game note for the live-streamer to read. There are three different types of notes and each type of note has three variations.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">Goal</h2>
                    <p>The goal for this project was to combine Unity with the Mixer API to serve as our "hack" for VandyHacks. We wanted to give viewers watching someone play a game the chance to interact with the streamer's gameplay live.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">My Role</h2>
                    <p>I programmed the interactivity portion of the game and worked mostly with the Mixer API. I also programmed the note system.</p>
                </div>
            </div>
        </div>
    </div> 

