<div>
        <div class="header-div">
            <a class="back-button" routerLink="/project-overview"><i class="material-icons arrow-back">arrow_back</i></a>
            <div><h1 class="title">Dark Brotherhood Lockscreen</h1></div>
            <div class="programmer">
                <a><i class="material-icons" style="font-size: 12pt">code</i><span style="display: block; margin-top: -1%; font-size: 10pt;">Java</span></a>
            </div>
        </div>
        <div class="container-div">
            <div class="left-div"><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /></div>
            <div class="right-div">
            <br>
                <div style="width: 88%">
                    <h2 class="section-header">Overview</h2>
                    <p>This is an app for android made in Android Studio. It was inspired by the Black Door from The Elder Scrolls video game series in which the door asks you a riddle and you must respond with the correct answer to enter.</p>    
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">Goal</h2>
                    <p>The goal for this project was to create a mobile app for my phone using Android Studio.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">My Role</h2>
                    <p>This was an individual project so I programmed and designed the project in its entirety.</p>
                </div>
            </div>
        </div>
    </div> 
