<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="width:75%; float: left;" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
<div style="margin: auto;">
  <div style="width:25%; float:right;">
    <mat-card class="card-info" [@infoAnimation] style="text-align: center; height: 1000px; background-color: #837de8; color: white;">
      <div>Michelle Brannan</div>
      <br>
      <div>
        <p>Hello! I am a programmer and avid RPG fan.</p>
        <p>I graduated from Auburn University with a Bachelor of Software Engineering in August 2019. I was a member of Auburn's video game development club, TigerDev, for 4 years and served as an officer my senior year.</p>
        <p>I have a passion for video games, learning new technologies, artificial intelligence, and creating memorable experiences.</p>
      </div>
      <div style="font-size: 10pt"><i class="material-icons" style="font-size: 12pt">mail</i> rmb0047@auburn.edu</div>
      <br>
      <div>
        <a href="https://github.com/orlesianroyalty" style="margin-right: 5%"><i class="fab fa-github" style="font-size: 16pt"></i></a>
        <a href="https://www.linkedin.com/in/michelle-brannan-045804149/"><i class="fab fa-linkedin-in" style="font-size: 16pt"></i></a>
      </div>
    </mat-card>
  </div>
  <!--<nav>
    <div>
      <mat-toolbar>
        <div>
          <button mat-button routerLink="/home" routerLinkActive="active"><i class="material-icons">home</i></button>
          <button mat-button><i class="material-icons">face</i></button>
          <button mat-button routerLink="/project-list" routerLinkActive="active">Projects</button>
        </div>
      </mat-toolbar>
    </div>
  </nav>-->
  
  
</div>
