<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <div>
    <mat-toolbar>
      <div>
        <button mat-button routerLink="/home" routerLinkActive="active"><i class="material-icons">home</i></button>
        <button mat-button><i class="material-icons">face</i></button>
        <button mat-button routerLink="/project-list" routerLinkActive="active">Projects</button>
      </div>
    </mat-toolbar>
  </div>
</nav>

<router-outlet></router-outlet>
