<div>
        <div class="header-div">
            <a class="back-button" routerLink="/project-overview"><i class="material-icons arrow-back">arrow_back</i></a>
            <div><h1 class="title">Dracarys</h1></div>
            <div class="programmer">
                <a><i class="material-icons" style="font-size: 12pt">code</i><span style="display: block; margin-top: -1%; font-size: 10pt;">C#</span></a>
            </div>
        </div>
        <div class="container-div">
            <div class="left-div"><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /><img class="d-block w-100" style="width: 88%" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" /></div>
            <div class="right-div">
            <br>
                <div style="width: 88%">
                    <h2 class="section-header">Overview</h2>
                    <p>Dracarys is an arcade style game made in Unity. It is based off of Game of Thrones when Daenerys and Drogon burn the Lannister army down.</p>
                    <p>The player controls Drogon who is flying over the Lannister army. The player can make Drogon shoot fireballs to score points. Drogon only has 3 lives before the game is over.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">Goal</h2>
                    <p>The goal for this project was to familarize myself with Unity more since this was my first solo Unity project.</p>
                </div>
                <br>
                <div style="width: 88%">
                    <h2 class="section-header">My Role</h2>
                    <p>This was an individual project so I programmed and designed the project in its entirety.</p>
                </div>
            </div>
        </div>
    </div> 

